{% extends "places/base.html" %}

{% block content %}
<h2> Hello Destination User</h2>
<div class="container">


    <form method="post">{% csrf_token %}
        {{ form.as_p }}
<!--        <div class="row shadow-lg">-->
<!--        <div class="col-2 border ">-->
<!--        <div class="bg-success">-->
<!--            {{ form.name_of_the_place.label }}-->
<!--            {{ form.name_of_the_place }}-->
<!--            </div>-->
<!--             -->
<!--        </div>-->
<!--        <div class="col-10">-->
<!--           {{ form.why_this_place.label }}-->
<!--            {{ form.why_this_place }}-->
<!--        </div>-->
<!--    </div>-->
<!--        <input type="submit" value="Save">-->
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}